[build]
builder = "nixpacks"

[deploy]
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
numReplicas = 1
healthcheckPath = "/"
healthcheckTimeout = 30

[env]
NODE_ENV = "production"

[start]
cmd = "npx prisma migrate deploy && npm run db:seed && npm start"
